[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "*"
click = "*"
itsdangerous = "*"
pytz = "*"
six = "*"
Flask = "*"
Flask-Cors = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
Flask-SQLAlchemy = "*"
Flask-RESTful = "*"
Jinja2 = "*"
psycopg2-binary = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.8"
